/* Custom styles for the toggles */


.dark-toggle-checkbox:checked+.dark-toggle-label {
    background-color: var(--color-background);
}

.dark-toggle-checkbox:checked+.dark-toggle-label .dark-toggle-button {
    transform: translateX(100%);
    background-color: #06b6b6;
}



